/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
modified slightly by Brandon Rohrer
*******************************************************************************/

/*@import url(github-light.css);*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*@font-face {
    font-family: 'Lato';
    src: local('fonts/Lato-Regular.ttf')
    format('truetype')
}*/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
/*
Retro Rocks palette from SlideStream
https://www.slideteam.net/blog/9-beautiful-color-palettes-for-designing-powerful-powerpoint-slides/
#04253a : dark blue
#e1ddbf : tan
#4c837a : green

https://visme.co/blog/website-color-schemes/
#182628 turquoise black
#687864 green gray
#31708E deep sea
#5085A5 dawn blue
#8FC1E3 sky blue
#F7F9FB off white

Thistle Pinterest picks
#fdf1e2 off white
#fbe7d2 light warm
#bed3c3 mint
#ebaca2 salmon
#4a919e evergreen
#ce6a6b burnt
#212e53 midnigt
*/

body {
  box-sizing: border-box;
  color: #212e53;
  background: #212e53;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #212e53;
  font-family: 'Lato', 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  font-size: 21px;
  letter-spacing: 1px;
}

h5 {
  font-size: 18px;
  letter-spacing: 1px;
}

h6 {
  font-size: 16px;
  letter-spacing: 1px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #fdf1e2;
}

a {
  text-decoration: none;
  text-decoration: underline;
  text-shadow: none;
  color: #212e53;
  border-bottom: 2px;
  
  /*
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  */
}

a:visited {
  color: #4a919e;
  /*color: #22695d;*/
}

a:hover, a:focus {
  text-decoration: underline;
}

footer a {
  color: #fdf1e2;
  /*font-weight: 700;
  text-decoration: none;*/
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  /* display: block; */
  display: inline;
  max-width: 739px;
  /*padding: 5px;*/
  padding: 0px;
  border: 1px solid #212e53;
  margin: 10 auto;
  text-align: center;

  
  box-shadow: 0 0 5px #ebebeb;
  /*
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
  */
}

p img {
  display: inline;
  /*margin: 5px;*/
  margin: 15px;
  /*padding: 10px;*/
  padding: 0px;
  border: 1px solid #212e53;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code, var {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

var {
  color: #212e53;
}

pre, code {
  font-size: 14px;
  width: 100%;
  color: #fdf1e2; 
  background: #212e53;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
}

pre code {
  display: block;
  box-shadow: none;
}

h1 code {
  font-size: 32px;
  font-weight: 700;
}

h2 code {
  font-size: 28px;
}

h3 code {
  font-size: 20px;
}

h4 code {
  font-size: 18px;
}

h5 code {
  font-size: 16px;
}

h6 code {
  font-size: 14px;
}

blockquote {
  color: #4a919e;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #4a919e;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

li{
  margin: 5px 0;
  }

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  margin-bottom: 20px;
  text-align: right;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #212e53;
  color: #fdf1e2;
 }

td {
  margin: 10px;
  padding: 10px;
  vertical-align: top;
  /* vertical-align: center; */
  /* text-align: center; */
  text-align: left;
 }

td pre{
  width: auto;
}
td pre code{
  text-align: left;
  font-size: 11px;
}

form {
  background: #fdf1e2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#header_wrap {
  background: #212e53;
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}


#project_title {
  margin: 0;
  color: #fdf1e2;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
  text-decoration: none;
}

<!--
#main_content_wrap {
  background: #fdf1e2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}
-->
#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212e53;
  text-decoration: none;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
